<!doctype html>
<html>

<head>
    <title>
        <%- title %>
    </title>
</head>

<body>
    <div>
        <%- topic %>
    </div>

    <div>
        <%- students %>
    </div>

</body>

</html>